* {
    font-family: 'Roboto', sans-serif;
}

.content {
    padding: 1rem;
}

.content h1 {
    margin: 0;
}

.types {
    list-style: none;
    padding: 0;
    margin: 0;
}
.type {
    background-color: #ffffff49;
    padding: 0.1rem 0.4rem;
    margin-top: 5px;
    background-size: auto;
    border-radius: 1rem;
    display: table;
    font-size: .625rem;
}

@media screen and (min-width: 992px){
    .content {
        max-width: 992px;
        margin: 0 auto;
    }
}

