.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}
.pokemon {
    margin: .5rem;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    height: 75px;
    overflow: hidden;
    z-index: 1;
}
.pokeimg img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 120px;
    z-index: 1;
}
.pokeimg {
    width: 10px;
    height: 10px;
    position: relative;
    float: right;
    top: -4.2rem;
    padding: 1rem;
    margin-left: 10px;
    
}
.imgbackground {

    width: 150px;
    position: relative;
    z-index: 0 !important;
    opacity: 0.5;
    filter: invert(1);
    transform: rotate(45deg) !important;
    top: -4rem !important;
    left: -3rem !important;

}
.pokeinfo {
    position: relative;
    z-index: 999;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    height: 100px; 
    text-transform: capitalize; 
}
.number {
    position: absolute;
    left: 5.6rem;
    top: -0.9999999999999998rem;
    color: black;
    opacity: .5;
    text-shadow: 0 0 0 #000, 0 0 0 #000, 0 0 0 #000, 0 0 0 #000; 

}



.fighting {
    background-color: #ce3f6a;
    }
    .psychic {
    background-color: #f97077;
    }
    .poison {
    background-color: #ab6ac8;
    }
    .dragon {
    background-color: #096dc3;
    }
    .ghost {
    background-color: #5269ab;
    }
    .dark {
    background-color: #595365;
    }
    .ground {
    background-color: #d97746;
    }
    .fire {
    background-color: #fe9c53;
    }
    .fairy {
    background-color: #ec8fe7;
    }
    .water {
    background-color: #4d90d5;
    }
    .flying {
    background-color: #8fa8de;
    }
    .normal {
    background-color: #9098a2;
    }
    .rock {
    background-color: #c6b889;
    }
    .electric {
    background-color: #f4d23b;
    }
    .bug {
    background-color: #90c02c;
    }
    .grass {
    background-color: #63bb5c;
    }
    .ice {
    background-color: #73cebf;
    }
    .steel {
    background-color: #5a8fa1;
    }


.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.pagination button {
    padding: .25rem .5rem;
    color: white;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 345px){
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 576px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 785px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 992px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}